.form-style-8 {
  font-family: "Open Sans Condensed", arial, sans;
  width: 500px;
  padding: 30px;
  background: #4d4d4d;
  margin: 50px auto;
  color: #b9b9b9;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  border-radius: 1%;
}

.form-style-8 h2 {
  background: #4d4d4d;
  text-transform: uppercase;
  font-family: "Open Sans Condensed", sans-serif;
  color: #b9b9b9;
  font-size: 18px;
  font-weight: 100;
  padding: 20px;
  margin: -30px -30px 30px -30px;
}

.form-style-8 input[type="text"],
.form-style-8 input[type="date"],
.form-style-8 input[type="datetime"],
.form-style-8 input[type="email"],
.form-style-8 input[type="number"],
.form-style-8 input[type="search"],
.form-style-8 input[type="time"],
.form-style-8 input[type="url"],
.form-style-8 input[type="password"],
.form-style-8 textarea,
.form-style-8 select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  display: block;
  width: 100%;
  padding: 7px;
  border: none;
  border-bottom: 1px solid #ddd;
  background: transparent;
  margin-bottom: 10px;
  font: 16px Arial, Helvetica, sans-serif;
  height: 45px;
  color: #b9b9b9;
}
::placeholder {
  color: #b9b9b9;
}
.form-style-8 textarea {
  resize: none;
  overflow: hidden;
}
.form-style-8 input[type="button"],
.form-style-8 input[type="submit"] {
  -moz-box-shadow: inset 0px 1px 0px 0px #45d6d6;
  -webkit-box-shadow: inset 0px 1px 0px 0px #45d6d6;
  box-shadow: inset 0px 1px 0px 0px #45d6d6;
  background-color: #2cbbbb;
  border: 1px solid #27a0a0;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 14px;
  padding: 8px 18px;
  text-decoration: none;
  text-transform: uppercase;
}
.form-style-8 input[type="button"]:hover,
.form-style-8 input[type="submit"]:hover {
  background: linear-gradient(to bottom, #34caca 5%, #30c9c9 100%);
  background-color: #34caca;
}

#closeBtn {
  display: none;
}

.main-nav__items {
  /* display: none; */
}

input[type="submit"] {
  margin: 0;
  padding: 0;
}

#together {
  display: none;
}

section {
  margin-bottom: 4rem;
}

/* invite2 {
} */

/* this is the alert box for user invite success */
.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid #06d85f;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.button:hover {
  background: #06d85f;
}

/* .overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0; 
}

.overlay:target {
  visibility: visible;
  opacity: 1;
} */

.visible {
  display: none;
}

.popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 90%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: #06d85f;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}

#juntos-main{
  min-height: 100vh;
  background: url('../images/duy-pham-Cecb0_8Hx-o-unsplash.jpg') no-repeat center center/cover;
  position: relative;
  z-index: 1;
}

#juntos-main::before{
  content: '';
  position : absolute;
  top: 0 ;
  left: 0 ;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(12px);
  z-index: -1;
}

.juntos-jumbotron{
  /* position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%,0); */
  /* background: rgb(90, 80, 80); */
  width: 100%;
  text-align: center;
  color: rgb(207, 65, 8);
}

.juntos-jumbotron h1{
  font-size: 2.8rem;
  /* text-transform: uppercase; */
}

.juntos-jumbotron p{
  font-size: 1.3rem;
  color: rgb(250, 100, 0);
}

#invitees{
  background: linear-gradient(45deg,
  rgba(255, 0, 0, 0.171),
  rgba(0, 0, 255, 0.13)
  );
  backdrop-filter: blur(30px);
  height: 55%;
  width: 80%;
  /* position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%,-65%); */
  padding: 1rem;
  text-align: center;
  border: 4px solid rgb(245, 147, 0);
  /* padding-top: 2rem; */
}

#invitees h2{
  font-size: 2rem;
  width: 100%;
  margin-bottom: 2rem;
  color: rgb(20, 19, 87);
}

#inviteeForm input:not([type = 'submit']){
  padding: .7rem 1rem;
  font-size: 1.3rem;
  margin: .5rem 0 ;
  width: 50%;
  /* display: block; */
  background: transparent;
  border: none;
  position: relative;
  border-bottom: 3px solid rgb(0, 0, 0)
}

#inviteeForm input:not([type = 'submit'])::placeholder{
  color: rgba(0, 0, 0, 0.514);
}

#submitBtn,
#getusersinvitees{
  padding: .5rem .6rem;
  width: 45%;
  display: inline-block;
  font-size: 1.4rem;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  transition: all .3s ease-in-out
}

#submitBtn{
  margin-top: .5rem;
  background: rgb(112, 10, 54);
  border: 1px solid rgb(122, 21, 97);
  color: #f4f4f4;
}

#getusersinvitees{
  padding: .9rem 1.2rem;
  margin: 1rem 0 ;
  font-size: 1rem;
  background: black;
  color: #f4f4f4;
  border: 1px solid white;
}

#submitBtn:hover{
  background: rgb(221, 121, 137);
}

#getusersinvitees:hover{
  background: #f4f4f4;
  color: black;
  border-color: black;
}

@media(min-width: 1200px){
  #invitees{
    width: 50%;
  }
}

/* media queries for the juntos page for responsivenes */
/* width responsiveness */
@media (max-width: 450px){

  .juntos-jumbotron{
    margin-top: 2rem;
    margin-bottom: .5rem;
  }
  .juntos-jumbotron h1{
    font-size: 2rem;
  }
  
  .juntos-jumbotron p{
    font-size: 1rem;
  }

  #invitees{
    width: 90%;
    height: 55%;
    padding: .6rem;
  }

  #invitees h2{
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  #inviteeForm input:not([type = 'submit']){
    padding: .5rem;
    font-size: 1rem;
    width: 80%;
  }
  #submitBtn,
  #getusersinvitees{
  width: 90%;
  }
}

/* height responsiveness */

@media (min-height: 900px){
  #invitees{
    width: 90%;
    height: 40%;
    padding: 1.5rem;
  }
}

@media ( max-height: 450px){
  #juntos-main{
    min-height: 140vh;
  }
  .juntos-jumbotron{
    margin-top: 3rem;
    margin-bottom: .2rem;
  }
  .juntos-jumbotron h1{
    font-size: 2rem;
  }
  
  .juntos-jumbotron p{
    font-size: 1rem;
  }

  #invitees{
    width: 90%;
    height: 58%;
    padding: .6rem;
  }

  #invitees h2{
    font-size: 1rem;
    margin-bottom: .5rem;
  }
  #inviteeForm input:not([type = 'submit']){
    padding: .5rem;
    font-size: 1rem;
    width: 80%;
  }
  #submitBtn,
  #getusersinvitees{
    width: 70%;
    padding: .3rem 0;
    display: inline-block;
  }
  #submitBtn{
    padding: .3rem 0 ;
    height: 30px;
  }
}
